.headerBanner {
  display: flex;
  font-style: italic;
  flex-direction: row;
  /* background-color: lightgrey; */
  justify-content: space-between;
  margin-right: 2vw;
  padding-left: 10vw;
  font-size: 2vw;
  align-items: center;
  height: 8vh;
  width: 100%;
}