.headerBanner {
  display: flex;
  font-style: italic;
  flex-direction: row;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8vw;
  margin: 1vw;
  justify-content: space-between;
  margin-right: 2vw;
  padding-left: 10vw;
  height: 8vh;
  width: 100%;
}