.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.homeText {
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  width: 40vw;
  font-size: 1.5vw;
}
.headshotPhoto {
  width: 25vw !important;
}

