.homeContainer {
  display: flex;
  /* background-color: rgb(42, 42, 42); */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.carousel {
  display: flex;
  /* opacity: .5; */
  justify-content: center;
  border-top: solid gray 12vh;
  width: 100vw;
}
#carouselImg {
  object-fit: cover;
  height: 105vh;
  width: 100vw;
}
.homeIntroImageContainer {
  display: flex;
  flex-direction: column;
  border-top: solid black 5px;
  background-image: url('https://res.cloudinary.com/dbvgiuj6d/image/upload/v1679955852/camera-g029ce0ef0_1920_qgkxqc.jpg');



  background-size: cover;
  width: 100vw;
  height: 100%;
}
.homeUnderIntroPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45vw;
  background-color: rgba(245, 245, 245, 0.539);
}
#homeText {
  font-size: 3vw;
}
.homeText {
  margin-top: 5vh;
  margin-bottom: 3vh;
  text-align: center;
  width: 35vw;
  font-size: 1.75vw;
  font-family: 'Alkatra', cursive;

}
#homeTextParaTwo {
  margin-bottom: 10vh;
}
