.imageContainer {
  display: flex;
  padding: 10%;
  align-content: center;
  width: 100vw;
}

.portfolios {
  display: flex;
  flex-direction: column;
}

.grid {
  justify-content: center;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px 25px;
}

.imageContainer img {
  flex: 0.5;
  object-fit: cover;
  width: 40vw;
  height: 50vh;
}

.imageContainer img:hover {
  cursor: pointer;
}

.imageContainer div {
  padding: 10%;
  flex: 0.5
}