.imageContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
}

.grid {
  justify-content: center;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px 25px;
}

.imageContainer img {
  object-fit: cover;
  width: 40vw;
  height: 50vh;
}