.navBarBox {
  display: flex;
  align-items: center;
}
#navBarBox {
  margin-left: 85vw;
}
#navBarButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25vw;
  margin-left: 5vw;
  margin-top: 1vh;
  width: 6vw;
  border: 3px solid rgb(102, 102, 102);
  background-color: whitesmoke;
  transition: ease-in-out .5s;
}
#navBarButton:hover {
  background-color: rgb(77, 186, 40);
  transition: ease-in-out .5s;
}
.navBarHeaderBox {
  background-color: rgba(146, 146, 146, 0.171);
  border-bottom: black solid 2px;
}
.navBarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2vw;
  width: 25vw;
}
.navBarSelections {
  font-size: 1.25vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
.navBarSelections:hover {
  font-size: 1.5vw;
}